<div class="container p-0">
    <div class="container_heading px-3">
        <span class="material-icons container_heading_arrow">
            keyboard_arrow_left
        </span>
        <span>Explore Package</span>
        <span class="material-icons container_heading_search">
            search
        </span>
    </div>
    <div class="container_sub_header p-2">
        <p class="container_sub_header_one"> GET 10% OFF ON YOUR FIRST BOOKING</p>
        <p class="container_sub_header_two">FIRSTUMRAGO10</p>
        <p class="container_sub_header_three">Terms & conditions applied**</p>
    </div>
    <div class="container_card card m-3 ">
        <div class="container_card_left">
            <p class="container_card_left_po">Package name to come here</p>
            <span class="container_card_left_sone">24 OCT - 15 DEC</span><span class="container_card_left_stwo">15N
                14D</span>
            <div class="container_card_left_m d-flex">
                <div>
                    <img src="" alt="img">
                </div>
                <div>
                    <p class="container_card_left_m_po">Saudia Airlines</p>
                    <p class="container_card_left_m_pt">Non Stop</p>
                </div>
            </div>
            <div class="container_card_left_b">
                <p class="container_card_left_b_p">Included in this price</p>
                <div class="container_card_left_b_span">
                    <div>
                        <span>Hotels </span><span> Flights </span><span> Meals </span>
                    </div>
                    <div>
                        <span> Quint </span><span> Transfers </span><span> Visa </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container_card_right">
            <div class="container_card_right_t">
                <div>
                    <span class="material-icons container_card_right_t_icon">
                        favorite
                        </span>
                </div>
                <p class="container_card_right_t_p1"><del>86,232</del></p>
                <p class="container_card_right_t_p2">&#x20B9; 67,242</p>
                <p class="container_card_right_t_p3">Price Per Person</p>
            </div>
            <div class="container_card_right_b">
                <span> SAVE &#x20B9;18,000</span>
            </div>
        </div>
    </div>
</div>