.AppComponent {
    min-height: 100vh;
    display: grid;
    place-items: center;
    &__Middle {
        min-height: 50vh;
        width: 50%;
        display: grid;
        place-items: center;
        &__Button {
            outline: none;
            background-color:#35c48c;
            color: white;
        }
    }
}