<!-- <app-search></app-search> -->
<app-listing></app-listing>

<!-- <h3>Hotels</h3>

<span class="material-icons">
    business
</span>

<span class="material-icons">
    apartment
</span>

<span class="material-icons">
    location_city
</span>

<h3>Flights</h3>

<span class="material-icons">
    flight_takeoff
</span>

<span class="material-icons">
    flight_land
</span>


<span class="material-icons">
    flight
</span>

<h3>Meals</h3>
<span class="material-icons">
    restaurant_menu
</span>


<h3>Quint</h3>

<span class="material-icons">
    king_bed
</span>

<h3>Transfers</h3>

<span class="material-icons">
    directions_car
</span>

<span class="material-icons">
    local_taxi
</span>


<h3>Visa ????????</h3> -->




<router-outlet></router-outlet>