<div class="container-fluid c">

    <!-- TOP HEADER -->
    <div class="row card c_header">
        <ul class="c_header_ul">
            <li class="c_header_ul_li">
                <mat-icon>business</mat-icon>
            </li>
            <li class="c_header_ul_li">
                <mat-icon>flight_takeoff</mat-icon>
            </li>
            <li class="c_header_ul_li">
                <mat-icon>restaurant_menu</mat-icon>
            </li>
            <li class="c_header_ul_li">
                <mat-icon>king_bed</mat-icon>
            </li>
        </ul>
    </div>

    <!-- SECOND HEADER -->
    <div class="row m-2 c_sub_header">
        <h1>sub header</h1>
    </div>

    <!-- Start of Content -->
    <div class="row mx-1">

        <!-- Left Content -->
        <div class="col-md-3">
            <div class="card c_left">
                <div class="c_left_top">
                    <img class="img-fluid" src="assets/img/profile.png">
                    <h2 class="c_left_top_h">RIFA MALIK</h2>
                    <p>Personal profile</p>
                </div>
                <div class="c_left_bottom">
                    <p>Profile</p>
                    <p>Login detail</p>
                    <p>Save travellers</p>
                </div>
            </div>
        </div>

        <!-- Right content -->
        <div class="col-md-9 c_right">
            <div class="row card c_right_card1">
                <h3> Lorem ipsum, dolopsa doloremque</h3>
            </div>
            <div class="row card c_right_card2">
                <h1>Profile</h1>
                <p>Libero repellat possimus ratione odit laborum in nulla non quos architec</p>
                <p>NAME</p>
                <hr>
                <p>BIRTHDAY</p>
                <hr>
                <p>GENDER</p>
                <hr>
                <p>MARITAL STATUS</p>
            </div>
            <div class="row card c_right_card3">
                <h1>Login Details</h1>
                <p>dolorum velit? Cupiditate, soluta recusandae!</p>
                <p>Mobile no </p>
                <hr>
                <p>email</p>
                <hr>
                <p>password</p>
            </div>
            <div class="row card c_right_card4">
                <h1>Save Travellers</h1>
                <h3>You have 0 Travellers</h3>
            </div>
        </div>
    </div>
</div>