@import 'src/styles.scss';

.container{
    display: grid;
    text-align: center;
       &_heading{
        font-weight: 400;
        font-size: $fontsizemedium;  
        margin: 40px 0px; 
        &_arrow{
            color: $colorgreen;
            float: left;
            font-size: $fontsizeextralarge;
        }
    }
    &_content_form_field{
        width: 100%;
        &_span{
            color: rgb(153, 150, 150);
        }
        &_bold{
            font-weight: 500;
         }
    }
    &_content_button{
        width: 100%;
        height: 50px;
        border-radius: 3px;
        color: white;
        font-size: $fontsizelarge;
        background-color: $colorgreen;
    }
}