<div class="gridcontainer gc">


    <div class="header gc_h">
        <ul class="gc_h_ul">
            <li class="gc_h_ul_li">
                <mat-icon>business</mat-icon>
            </li>
            <li class="gc_h_ul_li">
                <mat-icon>flight_takeoff</mat-icon>
            </li>
            <li class="gc_h_ul_li">
                <mat-icon>restaurant_menu</mat-icon>
            </li>
            <li class="gc_h_ul_li">
                <mat-icon>king_bed</mat-icon>
            </li>
        </ul>
    </div>


    <div class="subheader m-2 gc_sh">
        <h1>sub header</h1>
    </div>


    <div class="left gc_left">
        <div class="card gc_left_c">
            <div class="gc_left_c_top">
                <img src="assets/img/profile.png">
                <h2 class="gc_left_c_top_h">RIFA MALIK</h2>
                <p>Personal profile</p>
            </div>
            <div class="gc_left_c_bottom">
                <p>Profile</p>
                <p>Login detail</p>
                <p>Save travellers</p>
            </div>
        </div>
    </div>


    <div class="right-card card gc_right_c1">
        <h3> Lorem ipsum, dolopsa doloremque</h3>
    </div>


    <div class="right-card card gc_right_c2">
        <h1>Profile</h1>
        <p>Libero repellat possimus ratione odit laborum in nulla non quos architec</p>
        <p>NAME</p>
        <hr>
        <p>BIRTHDAY</p>
        <hr>
        <p>GENDER</p>
        <hr>
        <p>MARITAL STATUS</p>
    </div>


    <div class="right-card card gc_right_c3">
        <h1>Login Details</h1>
        <p>dolorum velit? Cupiditate, soluta recusandae!</p>
        <p>Mobile no </p>
        <hr>
        <p>email</p>
        <hr>
        <p>password</p>
    </div>


    <div class="right-card card gc_right_c4">
        <h1>Save Travellers</h1>
        <h3>You have 0 Travellers</h3>
    </div>
</div>
