.profilesidebar{
    position: sticky;
    top: 10px;
    padding: 35px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    &_top{
        text-align: center;
        &_h2{
            margin-bottom: 0px;
        }
    }
}